[flake8]
max-line-length = 79
exclude =
    .git,
    __pycache__,
    .venv,
    env,
    migrations,
    settings.py,
    manage.py,
    venv/
ignore =
    E501,
    W503,
    E203,
    DJ00,
    DJ10,
per-file-ignores =
    */settings.py:E501,W292
    */migrations/*.py:E501,W292
