[flake8]
max-line-length = 79
exclude =
    .git,
    __pycache__,
    .venv,
    env,
    migrations,
    settings.py,
    manage.py,
    venv/
ignore =
    E501,  # Line too long (handled by max-line-length)
    W503,  # Line break before binary operator
    E203,  # Whitespace before ':'
    DJ00,  # Example of a flake8-django specific error prefix to ignore
    DJ10,  # Another example of a flake8-django specific error
per-file-ignores =
    */settings.py:E501,W292
    */migrations/*.py:E501,W292
