{% extends "base.html" %}

{% block title %}Редактировать рассылку{% endblock %}
{% block content %}
    <h2>Редактировать рассылку</h2>
    <p>Измените параметры рассылки</p>        
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit" class="btn btn-success">Сохранить</button></p>
            <p><a href="{% url 'mailings:mailing_list' %}" class="btn btn-secondary">Отмена</a></p>
        </form>
    </div>
{% endblock %}