<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    {% if not user.is_authenticated %}
    <div class='header'>
        <ul class='mainmenu'
            <li class="nav-item">
                <a class="nav-link  text-white" href="{% url 'login' %}">Вход</a> | <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </li>
        </ul>
    </div>
    <h1>Это главная страница</h1>
    <h1>Вы не авторизованы</h1>
    {% else %}
        <ul class="dropdown-menu">
            <span class="nav-link">{{ user.username }}</span>
            <li>
                <a class="dropdown-item  text-white" href="{% url "main" %}">Личный кабинет</a>
            </li>
            {% if user.is_admin or user.is_staff %}
                <li><a class="dropdown-item  text-white" href="{% url "admin:index" %}">Админ панель</a></li>
            {% endif %}
            {% comment %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item  text-white" href="{% url 'logout' %}">Мой профиль</a></li> {% endcomment %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        </ul>
        <h1>Это главная страница</h1>
    {% endif %}
</body>
</html>