<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    {% if not user.is_authenticated %}
    <h1>Это главная страница</h1>
    <h1>Вы не авторизованы</h1>
    <div class='header'>
        <ul class='mainmenu'
            <li class="nav-item">
                <p><a class="nav-link  text-white" href="{% url 'login' %}">Вход</a> | <a class="nav-link" href="{% url 'register' %}">Регистрация</a></p>
            </li>
        </ul>
    </div>
    {% else %}
        <h1>Это главная страница</h1>
        <ul class="dropdown-menu">
            <span class="nav-link"><h2>{{ user.username }}</h2></span>
            <li>
                <p><a class="dropdown-item  text-white" href="{% url "profile_detail" user.profile.slug %}">Профиль</a></p>
            </li>
            {% if user.is_admin or user.is_staff %}
                <p><li><a class="dropdown-item  text-white" href="{% url "admin:index" %}">Админ панель</a></li></p>
            {% endif %}
            <div class="text-center">
                <p><a href="{% url 'message_list' %}">Сообщения</a></p>
                <p><a href="{% url 'recipient_list' %}">Получатели</a></p>
                <p><a href="{% url 'mailing_list' %}">Рассылки</a></p>
            </div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        </ul>

        {% comment %} {% if can_view_all_mailings %}
            <p>Показывается количество рассылок</p>
        {% endif %}

        {% if can_block_mailings %}
            <p>Показываются блокировки рассылок</p>
        {% endif %} {% endcomment %}
    {% endif %}
</body>
</html>