{% extends "base.html" %}

{% block title %}Страница сообщений{% endblock %}
{% block content %}    
    <h2>Страница отображения списка сообщений</h2>
    <a href="{% url 'mailings:message_create' %}">Создать сообщение</a>
    {% for message in messages %}
        {% if manager_group_members or user == message.owner %}
            <li>
                {{ message.title }} : {{ message.text }} {% if user == message.owner %}<a href="{{ message.get_absolute_url_update }}">Редактировать</a><a href="{{ message.get_absolute_url_delete }}">Удалить</a>{% endif %}
            </li>
        {% endif %}
    {% endfor %}
    <div class="text-center">
        <p><a href="{% url 'main' %}">Вернуться на главную</a></p>
    </div>
{% endblock %}
