{% extends "base.html" %}

{% block content %}
    {% if manager_group_members %}
        <h2>Удалить сообщение</h2>
        <p>Вы уверены, что хотите удалить следующее сообщение?</p>        
        <div>
            <p><strong>Тема:</strong> {{ message.title }}<br></p>
            <p><strong>Содержимое:</strong> {{ message.text }}<br></p>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Удалить</button>
            <p><a href="{% url 'message_list' %}" class="btn">Назад</a></p>
        </form>
    {% endif %}
{% endblock %}