{% extends "base.html" %}

{% block title %}Главная{% endblock %}
{% block content %} 
    {% if not user.is_authenticated %}
    <div class="text-center">
        <h1>Добро пожаловать на сервис создания рассылок!</h1>
        <div class="mt-4">
            <img src="/media/images/box/mailbox.jpg" alt="Почтовый ящик" class="img-fluid mx-auto d-block" style="max-width: 500px;">
        </div>
    </div>
    {% else %}
        <div class="mt-4">
            <img src="/media/images/box/mailbox.jpg" alt="Почтовый ящик" class="img-fluid mx-auto d-block" style="max-width: 500px;">
        </div>
        <div class="card p-4 mt-4 text-center">
            <h3>Статистика ваших рассылок</h3>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Всего рассылок</h5>
                            <p class="card-text display-4">{{ total_mailings }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Активных рассылок</h5>
                            <p class="card-text display-4">{{ active_mailings }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Уникальных получателей</h5>
                            <p class="card-text display-4">{{ unique_recipients }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
