{% extends "base.html" %}

{% block title %}Главная{% endblock %}
{% block content %}  
    {% if not user.is_authenticated %}
        <h1>Это главная страница</h1>
        <h1>Вы не авторизованы</h1>
    {% else %}
        <div class="card p-4 mt-4 text-center">
            <h3>Статистика ваших рассылок</h3>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Всего рассылок</h5>
                            <p class="card-text display-4">{{ total_mailings }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Активных рассылок</h5>
                            <p class="card-text display-4">{{ active_mailings }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Уникальных получателей</h5>
                            <p class="card-text display-4">{{ unique_recipients }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}